/* ===========================================================
   Layout
   =========================================================== */

html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

html {
  font: $body-font;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media #{$medium} { font-size: 120%; }
}

body {
  background: lighten($primary, 2%);
  color: $white;
}

section { border-top: 2px solid $border-dark; }

.row {
  @extend %clearfix;
  margin-bottom: 1.5rem;

  &:last-of-type { margin-bottom: 0; }
}

.column {
  margin-bottom: 1.5rem;
  width: 100%;

  @media #{$medium} {
    float: left;
    margin-bottom: 0;
    margin-left: 5%;
    width: 47.5%;
  }

  &:first-of-type { margin-left: 0; }
  &:last-of-type { margin-bottom: 0; }
}

.container {
  @extend %clearfix;
  margin: 0 auto;
  padding: 3rem 0;
  width: 90%;

  @media #{$medium} { max-width: 900px; }
}
