/* ===========================================================
   Project
   =========================================================== */

.example-box {
  background: lighten($primary, 4%);
  border-radius: $border-radius;
  overflow: hidden;
  padding: 4rem 0;
  position: relative;

  &:last-of-type { margin-bottom: 0; }
}

.step-number {
  align-items: center;
  background: $secondary;
  border-radius: $circle;
  color: $white;
  display: flex;
  height: 50px;
  justify-content: center;
  margin: 0 auto 1rem;
  text-shadow: $dark-shadow;
  width: 50px;
}

.property-list { @include clean-list; }

.property-list__item {
  margin-bottom: 1rem;

  h3 {
    font: $body-font;
    font-weight: $bold;
    margin-bottom: 0;
  }
}

/* ===========================================================
   Animations
   =========================================================== */


/* ------ Rotate and Morph ------ */

.square {
  background: $secondary;
  border-radius: $border-radius;
  height: 75px;
  margin: 0 auto;
  opacity: .8;
  width: 75px;
}

.rotate-and-morph {
  animation: rotate-morph 2.5s alternate infinite;
  // animation: rotate-morph;
  // animation-direction: alternate;
  // animation-duration: 2.5s;
  // animation-iteration-count: infinite;
}

@keyframes rotate-morph {
  25% {
    background: purple;
    border-radius: 8px;
    transform: rotate(45deg);
  }
  50% {
    background: red;
    border-radius: 12px;
    transform: rotate(90deg);
  }
  75% {
    background: orange;
    border-radius: 24px;
    transform: rotate(135deg);
  }
  100% {
    background: yellow;
    border-radius: $circle;
    transform: rotate(180deg);
  }
}

/* ------ Slide ------ */

.square--small {
  height: 60px;
  width: 60px;
}

.square--opacity { opacity: .8; }

.square--absolute {
  position: absolute;
  left: 2rem;
  top: 2rem;
}

.slide {
  animation: slide 3s ease-in-out infinite alternate;
}

.example-box:active .square { animation-play-state: paused; }

@keyframes slide {
  from {
    background: purple;
    left: 2rem;
  }
  to {
    background: yellow;
    left: 80%;
    opacity: .5;
    transform: rotate(180deg);
  }
}

/* ------ Rotate & Move ------ */

.rotate {
  animation: spin-shrink 1.5s ease-in infinite forwards;
}

@keyframes spin-shrink {
  100% {
    transform: rotate(225deg) scale(.5);
  }
}

.orb {
  background: $secondary;
  border-radius: $circle;
  bottom: 0;
  height: 22px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 22px;
}

.move-1 { animation: move-1 .5s ease-in forwards infinite; }
.move-2 { animation: move-2 1s ease-in forwards infinite; }
.move-3 { animation: move-3 1.25s ease-in forwards infinite; }
.move-4 { animation: move-4 1.5s ease-in forwards infinite; }

@keyframes move-1 {
  100% {
    left: 80%;
    top: 50%;
  }
}

@keyframes move-2 {
  100% {
    right: 80%;
    top: 50%;
  }
}

@keyframes move-3 {
  100% {
    bottom: 50%;
    right: 80%;
  }
}

@keyframes move-4 {
  100% {
    bottom: 50%;
    left: 80%;
  }
}

/* ------ Turtle SVG ------ */

svg {
  animation: in-and-out 3s infinite alternate;
  display: block;
  height: auto;
  margin: 2rem auto;
  max-width: 250px;
}

@keyframes in-and-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }
	33% {
    opacity: 0.7;
		transform: scale(0.9);
	}
  50% {
    transform: rotateY(180deg);
  }
	66% {
    opacity: 1;
		transform: scale(1);
	}
  100% {
    opacity: 0.7;
    transform: scale(0.9);
  }
}

.example-box:hover .shell {
  animation: animate-shell 2s ease forwards;
}

@keyframes animate-shell {
  100% {
    fill: #6F4949;
  }
}
