/* ===========================================================
   Typography
   =========================================================== */

h1, h2, h3, h4 {
  font: $header-font;
  margin-top: 0;
  margin-bottom: .5rem;
  text-transform: uppercase;
}

h1 {
  font-size: 1.6rem;
  letter-spacing: 3px;
  margin-bottom: 1rem;
}

h4 { font-size: .8rem; }

p, ul {
  margin: 0 0 1rem;

  &:last-of-type { margin-bottom: 0; }
}

.section__title {
  background: $primary;
  border-radius: $border-radius;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0 auto 1.5rem;
  padding: .5rem 1rem;
}

/* ===========================================================
   Links
   =========================================================== */

a {
  color: inherit;
  text-decoration: underline;
}
