// Font Weights
$regular: 400;
$bold: 700;

// Header Font
$header-font: $bold 100%/1.3 "Lato", sans-serif;

// Body Font
$body-font: $regular 100%/1.5 "Merriweather", serif;

// Colors
$black: #333;
$white: #fff;

// Medium Screens
$medium: "(min-width: 640px)";
